<h1>Halo <%= ambilLokasi.location %></h1>

<div class="card" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">Fipoxygen di <%= ambilLokasi.location %></h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Condition : <%= ambilLokasi.condition %></li>
    <li class="list-group-item">Degrees : <%= ambilLokasi.degrees %></li>
    <li class="list-group-item">Status : <%= ambilLokasi.status %></li>
  </ul>
  <div class="card-body">
    <a href="/addprototype" class="card-link btn btn-primary">Add Fipoxygen</a>
  </div>
</div>
